@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Maven+Pro&display=swap');

body{
    background-color: #fff9e0;
}

header{
    background-color: #F0E5BB;
    padding: 10px;
}

footer{
    text-align: center;
    background-color: #F0E5BB;
    padding: 10px;
}

h1{
    color: #b33544;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    font-weight: bold;
}

.maintxt {
    position: relative;
}

#headshot{
    height: 100px;
}

i{
    color: #b33544;
    font-size: 40px;
    padding-right: 10px;
}
i:hover{
    color: #5d151e;
}

.card-title{
    padding-top: 5px;
    color: #b33544;
    font-weight: bold;
}

.card{
    font-family: 'Josefin Sans', sans-serif;
    color: #5d151e;
    background-color: #F0E5BB;
}

a{
    color: #b33544;
}
a:hover{
    color: #5d151e;
}

.picture{
    position: relative;
    left: 400px;
}

.picture > headshot,
.pictureText{
    position: absolute;
    top: 90px;
    left: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #b33544;
    background-color: #F0E5BB;
}

.card{
    width: 60%;
}

li{
    text-align: left;
}